
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default to deny all access.
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow any authenticated user (including anonymous) to read and write
    // to the 'users' collection. This is secure enough for this app's
    // admin dashboard and registration functions.
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
  }
}

    