
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow list access for the 'users' collection for any authenticated user.
    // This is necessary for the admin dashboard to display all users.
    match /users {
      allow list: if request.auth != null;
    }

    // Allow read/write access to individual documents in the 'users' collection 
    // for any authenticated user.
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
  }
}
